<div *ngIf="cloudServiceEntry; else elseBlock" style="padding-top: 15px;">
  <div *ngIf="singleEntryData; else showDataBlock">
    <p>Assessment Type: <a href="https://cloudsecurityalliance.org/star/#_overview" target="_blank">{{singleEntryData.type}}</a></p>
    <div *ngIf="singleEntryData.asset_url; else noAssetUrl">
      <a href="{{singleEntryData.asset_url}}">Download complete assessment</a>
    </div>
    <ng-template #noAssetUrl>
      <p>Complete assessment download not available</p>
    </ng-template>

    <div style="padding-top: 20px;" class="input-group mb-3">
      <div class="input-group-prepend" style="height: 62px;">
        <span class="input-group-text">Control Category</span>
      </div>
      <mat-form-field appearance="fill" style="width: 50%;">
        <mat-select [(ngModel)]="selectedControl" name="control" style="height: 20px;" 
                    disableOptionCentering="true" selected="selectedControl">
          <mat-option *ngFor="let control of controlData" [value]="control.control_id"
            (onSelectionChange)="onTitleChanged($event)">
            {{control.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="caiqAssessmentDetails; else dneBlock">
      <table class="table">
        <thead class="thead-dark">
          <tr *ngIf="selectedControlId === '1'; else normalBlock">
            <th scope="col" *ngIf="selectedControlId === '1'; else noTitleBlock">Control Category</th>
            <ng-template #noTitleBlock></ng-template>
            <th scope="col">Question</th>
            <th scope="col">Response</th>
            <th scope="col">Comment</th>
            <th scope="col">Question ID</th>
          </tr>
          <ng-template #normalBlock>
            <th scope="col" *ngIf="selectedControlId === '1'; else noTitleBlock">Control Category</th>
            <ng-template #noTitleBlock></ng-template>
            <th scope="col">Question</th>
            <th scope="col">Response</th>
            <th scope="col">Comment</th>
            <th scope="col">Question ID</th>
          </ng-template>
        </thead>
        <tbody *ngFor="let item of caiqAssessmentDetails">
          <tr>
            <td *ngIf="selectedControlId === '1'; else noTitleBlock">{{item.title}}</td>
            <ng-template #noTitleBlock></ng-template>
            <td>{{item.question}}</td>
            <td>{{item.response}}</td>
            <td>{{item.comment}}</td>
            <td>{{item.question_id}}</td>
          </tr>
        </tbody>
      </table>

      <!-- <a class="button-like" href="#home">Home</a> -->
    </div>
    <ng-template #dneBlock>
      <p></p>
      <!-- <a class="button-like" href="#home">Home</a> -->
    </ng-template>
  </div>
  <ng-template #showDataBlock>
    <p class="info-not-exist">CAIQ information cannot be found</p>
    <!-- <a class="button-like" href="#home">Home</a> -->
  </ng-template>
</div>
<ng-template #elseBlock>
  <p class="info-not-exist">Cloud Service data is not found</p>
  <!-- <a class="button-like" href="#home">Home</a> -->
</ng-template>